* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --orange: #FE904C;
    --teal: #57D5DA;
    --white: #ffffff;
    --green: green;

}

.outerBox {
    height: 600px;
    width: 100%;
    background-color: orange;
    position: relative;
}

.outerBox .innerBox-1 {
    position: absolute;
    background-color: teal;
    height: 270px;
    width: 90%;
    top: 0;
    left: 0;
}

.outerBox .innerBox-2 {
    position: absolute;
    background-color: teal;
    height: 270px;
    width: 90%;
    bottom: 0;
    left: 0;
}

.outerBox .innerBox-3 {
    position: absolute;
    background-color: teal;
    height: 200px;
    width: 43%;
    top: 30px;
    left: 30px;
}

.outerBox .innerBox-4 {
    position: absolute;
    background-color: teal;
    height: 200px;
    width: 43%;
    top: 30px;
    right: 30px;
}

.outerBox .innerBox-5 {
    position: absolute;
    background-color: teal;
    height: 300px;
    width: 93%;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

.outerBox .innerBox-6 {
    position: absolute;
    background-color: teal;
    height: 250px;
    width: 43%;
    top: 42px;
    left: 30px;
}

.outerBox .innerBox-9 {
    position: absolute;
    background-color: teal;
    height: 250px;
    width: 43%;
    bottom: 42px;
    right: 30px;
}

.outerBox .innerBox-7 {
    position: absolute;
    background-color: teal;
    height: 270px;
    width: 45%;
    bottom: 0;
    left: 0;
}

.outerBox .innerBox-8 {
    position: absolute;
    background-color: teal;
    height: 270px;
    width: 45%;
    top: 0;
    right: 0;
}


@media (max-width:768px) {
    .box3 .teal {
        height: 47.5%;
    }
}

/* Go to top */

.green {
    background-color: var(--green);
    position: fixed;
    right: 0;
    bottom: 0;
}

.green a {
    padding: 10px;
    color: var(--white);
    text-decoration: none;
}

.green a:hover {
    text-decoration: none !important;
}